:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Poppins", sans-serif;

  
}

:root {
  --black: #181818;
  --blue: #2b59c3;
  --light-grey: #e5e5e5;
  --dark-grey: #868686;
  --white: #fff;
}
