@use "../utils/variables" as *;
@use "../utils/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
